:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --page-bg-color: #FFF1F7;
  --rectangle-bg-color: #FF8DCB;
  --corner-color: #353430;
  --title-bg-color: #FF8DCB;
  --title-text-color: #353430;
  --no-focus-color: #FFC2E6;
  --theme-switch-color: #353430;
  --heading-color: #353430;
  --subheading-color: #FF0070;
  --card-text-color: #353430;
  --text-shadow: #FF8DCB;
  --theme-switch-hover-color: rgb(50 49 45 / 0.4);
}

.theme-light .rec_decoration {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-image: url(../images/cover-image-light.png);
  --page-bg-color: #FFF1F7;
  --rectangle-bg-color: #FF8DCB;
  --corner-color: #353430;
  --title-bg-color: #FF8DCB;
  --title-text-color: #353430;
  --no-focus-color: #FFC2E6;
  --theme-switch-color: #353430;
  --heading-color: #353430;
  --card-text-color: #353430;
  --text-shadow: #FF8DCB;
  }

  .theme-auto .rec_decoration {
        display: none;
    }
}