/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--page-bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 375px;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  font-family: var(--font-family);
  margin-bottom: 40px;
}

.decorated-zone {
  position: relative;
  width: 375px;
  height: 648px;
  margin-bottom: 40px;
}

.decorated-zone::after {
  position: absolute;
  content: "";
  border-color: var(--corner-color);
  border-bottom: 25px;
  border-bottom-color: transparent;
  border-left: 32px;
  border-left-color: transparent;
  border-style: solid;
  right: 2.3%;
  bottom: 94%;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-color: var(--corner-color);
  border-right: 21px;
  border-right-color: transparent;
  border-top: 24px;
  border-top-color: transparent;
  border-style: solid;
  bottom: 2%;
  right: 91%;
}

.header__theme-menu {
  margin-top: 10px;
  margin-right: 10px;
  justify-self: end;
  align-self: center;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
}

.header__theme-menu-list {
  display: grid;
  grid-template-rows: 1fr max-content 1fr;
  gap: 10px;
}

.header__theme-menu-item {
  box-sizing: border-box;
  max-width: 70px;
  min-height: 25px;
}

.button {
  max-width: 68px;
  width: 100%;
}

.header__theme-menu-button {
  padding-left: 12px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--theme-switch-color);
  padding-right: 11px;
  padding-left: 14px;
  padding-bottom: 5px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--theme-switch-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--theme-switch-color);
  outline: none;
  border-left: none;
  border-right: none;
  border-top: none;
}

.rec_decoration {
  position: absolute;
  font-size: var(--font-size);
  justify-self: end;
  grid-row: 1;
  line-height: 25px;
  margin-top: 11px;
  margin-right: 13px;
  font-weight: 400;
  color: var(--title-bg-color);
  text-transform: uppercase;
}

.rec_decoration::after {
  display: inline-block;
  transform: scale(0.4);
  content: '•';
  width: 24px;
  min-height: 20px;
  background-color: red;
  border-radius: 100%;
  box-shadow: 0 0 4px 8px #FF0070;
}

.no_focus {
  max-height: fit-content;
  display: grid;
  max-width: 355px;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  letter-spacing: 0;
  color: var(--no-focus-color);
  text-shadow: 4px 4px 0px var(--text-shadow);
  padding-left: 10px;
}

.header_title_block {
  color: var(--title-text-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: var(--font-size);
  line-height: 23.4px;
  letter-spacing: 0;
  max-width: 355px;
  width: 100%;
  align-self: center;
  margin-bottom: 11px;
  margin-left: 10px;
  margin-right: 10px;
}

.header_title_text {
  max-width: 355px;
  width: 100%;
}

.title_decor {
  background-color: var(--title-bg-color);
}

.content_section {
  display: flex;
  gap: 0px;
  flex-direction: column;
  margin-bottom: 29px;
}

.section_heading {
  max-width: 355px;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: var(--font-size);
  line-height: 23.4px;
  letter-spacing: 0;
  color: var(--heading-color);
  margin-left: 10px;
  margin-bottom: 20px;
}

.section_questions_block {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  gap: 20px;
  margin-bottom: 20px;
}

.card_heading {
  max-width: 355px;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: var(--font-size);
  line-height: 23.4px;
  letter-spacing: 0;
  color: var(--title-text-color);
  margin-bottom: 11px;
}

.card_text {
  margin-top: 10px;
  max-width: 351px;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 23.4px;
  letter-spacing: 0;
  color: var(--card-text-color);
}

.card_text_link {
  color: inherit;
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--text-shadow);
}

.card_text_link:hover {
  text-decoration: underline;
  color: var(--card-text-color);
}

.card_text_link:focus-visible {
  outline: 1px solid var(--card-text-color)
}

.section_answers_block {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  gap: 18px;
  margin-bottom: 20px;
}

.section_tips_block {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.card_tips_heading {
  max-width: 355px;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: var(--font-size);
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--title-text-color);
}

.card_subheading {
  max-width: 355px;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 23.4px;
  letter-spacing: 0;
  color: var(--title-text-color);
  margin-top: 20px;
}

.section_images {
  display: flex;
  flex-direction: column;
  margin-bottom: 38px;
  margin-top: 47px;
}

.section_images_block {
  display: flex;
  flex-direction: column;
  gap: 10.4px;
  margin-left: 10px;
  margin-right: 10px;
}

.footer {
  position: relative;
  box-sizing: border-box;
  max-width: 375px;
  height: 100vh;
  min-height: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_focus {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  letter-spacing: 0;
  color: var(--no-focus-color);
  text-shadow: 4px 4px 0px var(--text-shadow);
}

.footer_decorated_zone::after {
  position: absolute;
  content: "";
  border-color: var(--corner-color);
  border-bottom: 25px;
  border-bottom-color: transparent;
  border-left: 32px;
  border-left-color: transparent;
  border-style: solid;
  right: 2.3%;
  bottom: 94%;
}

.footer_decorated_zone::before {
  content: "";
  position: absolute;
  border-color: var(--corner-color);
  border-right: 21px;
  border-right-color: transparent;
  border-top: 24px;
  border-top-color: transparent;
  border-style: solid;
  bottom: 1%;
  right: 91%;
}

@media (min-width: 768px) {
  .page {
    background-color: var(--page-bg-color);
    background-image: var(--bg-image);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    max-width: 768px;
    width: 100%;
  }

  .header {
    display: grid;
    grid-template-rows: auto;
    height: 100vh;
    font-family: var(--font-family);
    min-height: 768px;
    margin-bottom: 0;
  }

  .decorated-zone {
    width: 768px;
  }

  .decorated-zone::after {
    right: 1.7;
    top: 2%;
    bottom: 94.6%;
  }

  .decorated-zone::before {
    left: 2.5%;
    right: 93%;
    bottom: 1.6%;
}
  
  .header__theme-menu {
    grid-row-start: 2;
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    align-self: auto;
    margin-right: 18px;
    padding-top: 65px;
  }

  .rec_decoration {
    position: absolute;
    font-size: var(--font-size);
    justify-self: end;
    grid-row: 1;
    line-height: 25px;
    margin-top: 19px;
    margin-right: 23px;
    font-weight: 400;
    color: var(--title-bg-color);
    text-transform: uppercase;
  }

  .rec_decoration::after {
    display: inline-block;
    transform: scale(0.4);
    content: '•';
    width: 24px;
    min-height: 20px;
    background-color: red;
    border-radius: 100%;
    box-shadow: 0 0 4px 8px #FF0070;
}

  .no_focus {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: center;
    padding-bottom: 44px;
    display: grid;
    max-width: 596px;
    width: 100%;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 83%;
    letter-spacing: 0;
    color: var(--no-focus-color);
    text-shadow: 4px 4px 0px var(--text-shadow);
    padding-left: 0;
}
 
  .header_title_block {
    grid-row-start: 4;
    grid-row-end: 4;
    max-width: 364px;
    width: 100%;
    color: var(--title-text-color);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
    line-height: 23.4px;
    letter-spacing: 0;
    justify-self: end;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 125px;
  }

  .section_questions_block {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 5px;
    margin-bottom: 20px;
    gap: 20px;
}

  .section_questions_card {
    padding-right: 20px;
  }

  .card_text {
    margin-top: 10px;
    max-width: 466px;
    width: 100%;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: var(--font-size);
    line-height: 23.4px;
    letter-spacing: 0;
    color: var(--card-text-color);
  }

  .section_answers_block {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    gap: 20px;
  }

  .section_answers_card_heading {
    max-width: 728px;
    width: 100%;
  }

  .section_answers_card_text {
    max-width: 733px;
    width: 100%;
  }

  .content_section {
    display: grid;
    grid-template-columns: 1fr 496px;
    gap: 0px;
    margin-bottom: 0px;
  }

  .section_answers {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .section_tips_block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 4px;
    gap: 0px;
    margin-right: 24px;
    padding-top: 57px;
  }

  .card_tips_heading {
    width: 100%;
    max-width: 472px;
    margin-bottom: 21px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: var(--font-size);
    line-height: 23.4px;
    letter-spacing: 0;
    color: var(--title-text-color);
  }

  .card_subheading {
    width: 100%;
    max-width: 472px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: var(--font-size);
    line-height: 23.4px;
    letter-spacing: 0;
    color: var(--title-text-color);
  }

  .section_images {
    margin-bottom: 38px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 79px;
  }

  .section_images_block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding-top: 20px;
    margin-left: 0;
    margin-right: 0;
    gap: 20px;
  }

  .section_heading {
    width: 100%;
    max-width: 235px;
    margin-left: 18px;
    margin-top: 61px;
  }

  .card_heading {
    max-width: 728px;
    margin-top: 0px;
    width: 100%;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: var(--font-size);
    line-height: 23.4px;
    letter-spacing: 0;
    color: var(--title-text-color);
    margin-bottom: 0px;
    margin-left: 0px;
}

  .image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .ice_cream_image {
    grid-row: span 2;
  }

  .street_image {
    grid-column: span 2;
  }

  .sunset_image {
    grid-column: span 2;
  }

  .tape_image {
    grid-row: span 2;
  }

  .footer {
    min-width: 764px;
    width: 100%;
    min-height: 1024px;
  }

  .footer_focus {
    padding-top: 45px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
    line-height: 83%;
    letter-spacing: 0;
    color: var(--no-focus-color);
    text-shadow: 4px 4px 0px var(--text-shadow);
  }

  .footer_decorated_zone::before {
    left: 2.5%;
    bottom: -0.4%;
    content: "";
    position: absolute;
    border-color: var(--corner-color);
    border-right: 21px;
    border-right-color: transparent;
    border-top: 24px;
    border-top-color: transparent;
    border-style: solid;
    right: 93%;
  }

  .footer_decorated_zone::after {
    right: 2%;
    top: 4%;
    position: absolute;
    content: "";
    border-color: var(--corner-color);
    border-bottom: 25px;
    border-bottom-color: transparent;
    border-left: 32px;
    border-left-color: transparent;
    border-style: solid;
  }

}

@media (min-width: 1024px) {
  .page {
    background-color: var(--page-bg-color);
    background-image: var(--bg-image);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    max-width: 1024px;
  }

  .header {
    display: grid;
    grid-template-rows: auto auto min-content;
    height: 100vh;
    font-family: var(--font-family);
    min-height: 768px;
    margin-bottom: 0;
  }

  .decorated-zone {
    width: 1024px;
  }

  .decorated-zone::after {
    right: 1.8%;
    bottom: 94.6%;
    top: 2.4%;
  }

  .decorated-zone::before {
    right: 95%;
    bottom: 2.5%;
    left: 1.9%;
}
  
  .header__theme-menu {
    display: flex;
    justify-self: center;
    flex-direction: row;
    grid-row-start: 1;
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    margin-top: 19px;
    align-self: normal;
    padding-top: 0px;
    margin-right: 0px;
  }

  .header__theme-menu-list {
    display: flex;
    gap: 17px;
  }

  .header__theme-menu-item {
    padding-right: 0;
  }

  .header__theme-menu-button_active {
    padding-top: 5px;
  }

  .header__theme-menu-button {
    margin: 0;
    padding: 3px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .rec_decoration {
    position: absolute;
    font-size: var(--font-size);
    justify-self: end;
    grid-row: 1;
    line-height: 25px;
    margin-top: 19px;
    margin-right: 23px;
    font-weight: 400;
    color: var(--title-bg-color);
    text-transform: uppercase;
  }

  .rec_decoration::after {
    display: inline-block;
    transform: scale(0.4);
    content: '•';
    width: 24px;
    min-height: 20px;
    background-color: red;
    border-radius: 100%;
    box-shadow: 0 0 4px 8px #FF0070;
}

  .no_focus {
    grid-row-start: 3;
    max-height: fit-content;
    margin-top: 48px;
    display: grid;
    max-width: 781px;
    width: 100%;
    padding-bottom: 0;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 83%;
    letter-spacing: 0;
    color: var(--no-focus-color);
    text-shadow: 4px 4px 0px var(--text-shadow);
    padding-left: 0;
}
 
  .header_title_block {
    display: flex;
    flex-direction: column;
    color: var(--title-text-color);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
    line-height: 23.4px;
    letter-spacing: 0;
    max-width: 491px;
    width: 100%;
    justify-self: end;
    align-self: flex-end;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 1px;
    margin-bottom: 135px;
  }

  .header_title_text {
    max-width: 491px;
    width: 100%;
  }

  .section_questions_block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 60px;
    margin-left: 33px;
    padding-right: 12px;
    gap: 20px;
}

  .section_questions_card {
    padding-right: 0px;
  }

  .section_questions_card_heading {
    width: 100%;
    max-width: 649px;
  }

  .card_text {
    margin-top: 10px;
    max-width: 656px;
    width: 100%;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: var(--font-size);
    line-height: 23.4px;
    letter-spacing: 0;
    color: var(--card-text-color);
  }

  .section_answers_block {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    gap: 20px;
  }

  .section_answers_card_heading {
    max-width: 315px;
    width: 100%;
  }

  .section_answers_card_text {
    width: 100%;
    max-width: 314px;
  }

  .content_section {
    display: grid;
    grid-template-columns: 323px 1fr;
    gap: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .section_answers {
    display: flex;
  }

  .section_tips_block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 32px;
    max-width: 649px;
    gap: 0px;
    margin-right: 21px;
  }

  .card_tips_heading {
    width: 100%;
    max-width: 649px;
    margin-bottom: 20px;
    margin-top: 2px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: var(--font-size);
    line-height: 23.4px;
    letter-spacing: 0;
    color: var(--title-text-color);
  }

  .card_subheading {
    max-width: 649px;
    width: 100%;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: var(--font-size);
    line-height: 23.4px;
    letter-spacing: 0;
    color: var(--title-text-color);
  }

  .section_images {
    margin-bottom: 38px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 19px;
  }

  .section_images_block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding-top: 20px;
    margin-left: 0;
    margin-right: 0;
    gap: 20px;
  }

  .section_heading {
    width: 100%;
    max-width: 363px;
    margin-left: 20px;
    margin-top: 60px;
  }

  .image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .ice_cream_image {
    grid-row: span 2;
  }

  .street_image {
    grid-column: span 2;
  }

  .sunset_image {
    grid-column: span 2;
  }

  .tape_image {
    grid-row: span 2;
  }

  .footer {
    max-width: 1024px;
    width: 100%;
    min-height: 768px;
    padding-top: 20px;
  }

  .footer_focus {
    padding-top: 20px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 83%;
    letter-spacing: 0;
    color: var(--no-focus-color);
    text-shadow: 4px 4px 0px #FF0070;
  }

  .footer_decorated_zone::before {
    left: 2%;
    bottom: -0.4%;
    content: "";
    position: absolute;
    border-color: var(--corner-color);
    border-right: 21px;
    border-right-color: transparent;
    border-top: 24px;
    border-top-color: transparent;
    border-style: solid;
    right: 95%;
  }

  .footer_decorated_zone::after {
    right: 2%;
    top: 5.5%;
    position: absolute;
    content: "";
    border-color: var(--corner-color);
    border-bottom: 25px;
    border-bottom-color: transparent;
    border-left: 32px;
    border-left-color: transparent;
    border-style: solid;
  }

  .card_heading {
    max-width: 984px;
    color: var(--title-text-color);
    margin-left: 0;
    width: 100%;
  }

}