/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--page-bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.decorated-zone {
  position: relative;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  font-family: var(--font-family);
  margin-bottom: 40px;
}

.decorated-zone::after {
  position: absolute;
  content: "";
  border-color: var(--corner-color);
  border-bottom: 25px;
  border-bottom-color: transparent;
  border-left: 32px;
  border-left-color: transparent;
  border-style: solid;
  right: 9.3px;
  top: 11px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-color: var(--corner-color);
  border-right: 21px;
  border-right-color: transparent;
  border-top: 24px;
  border-top-color: transparent;
  border-style: solid;
  bottom: 10px;
  left: 10px;
}

.header__theme-menu {
  margin-top: 10px;
  margin-right: 10px;
  justify-self: end;
  align-self: center;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
}

.header__theme-menu-list {
  display: grid;
  grid-template-rows: 1fr max-content 1fr;
  gap: 10px;
}

.header__theme-menu-item {
  box-sizing: border-box;
  max-width: 70px;
  min-height: 25px;
}

.button {
  max-width: 68px;
  width: 100%;
}

.header__theme-menu-button {
  padding-left: 12px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--theme-switch-color);
  padding-right: 11px;
  padding-left: 14px;
  padding-bottom: 5px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--theme-switch-hover-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--theme-switch-color);
  outline: none;
  border-left: none;
  border-right: none;
  border-top: none;
}

.rec_decoration {
  position: absolute;
  font-size: var(--font-size);
  justify-self: end;
  grid-row: 1;
  line-height: 25px;
  top: 9px;
  right: 13px;
  font-weight: 400;
  color: var(--title-bg-color);
  text-transform: uppercase;
}

.rec_decoration::after {
  display: inline-block;
  transform: scale(0.4);
  content: '•';
  width: 24px;
  min-height: 20px;
  background-color: red;
  border-radius: 100%;
  box-shadow: 0 0 4px 8px #FF0070;
}

.no_focus {
  max-height: fit-content;
  display: grid;
  max-width: 355px;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  letter-spacing: 0;
  color: var(--no-focus-color);
  text-shadow: 4px 4px 0px var(--text-shadow);
  padding-left: 10px;
}

.header_title_block {
  color: var(--title-text-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: var(--font-size);
  line-height: 23.4px;
  letter-spacing: 0;
  max-width: 355px;
  width: 100%;
  align-self: center;
  margin-bottom: 11px;
  margin-left: 10px;
  margin-right: 10px;
}

.header_title_text {
  max-width: 355px;
  width: 100%;
}

.title_decor {
  background-color: var(--title-bg-color);
}

.main {
  margin-right: 10px;
  margin-left: 10px;
}

.content_section {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin-bottom: 29px;
}

.section_heading {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: var(--font-size);
  line-height: 23.4px;
  letter-spacing: 0;
  color: var(--heading-color);
}

.section_answers_heading {
  max-width: 269px;
}

.section_questions_block {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 18px;
  margin-bottom: 20px;
}

.card_heading {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: var(--font-size);
  line-height: 23.4px;
  letter-spacing: 0;
  color: var(--title-text-color);
  margin-bottom: 11px;
}

.card_text {
  margin-top: 10px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 23.4px;
  letter-spacing: 0;
  color: var(--card-text-color);
}

.card_text_link {
  color: inherit;
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--text-shadow);
}

.card_text_link:hover {
  border-bottom: 1px solid;
  color: var(--card-text-color);
}

.card_text_link:focus-visible {
  outline: 1px solid var(--card-text-color)
}

.section_answers_block {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 18px;
  margin-bottom: 20px;
}

.section_tips_block {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
}

.card_tips_heading {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: var(--font-size);
  line-height: 23.4px;
  letter-spacing: 0;
  color: var(--title-text-color);
}

.card_subheading {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 23.4px;
  letter-spacing: 0;
  color: var(--title-text-color);
  margin-top: 20px;
}

.section_images {
  display: flex;
  flex-direction: column;
  margin-bottom: 38px;
  margin-top: 47px;
}

.section_images_block {
  display: flex;
  flex-direction: column;
  gap: 10.4px;
}

.footer {
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  min-height: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_focus {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  letter-spacing: 0;
  color: var(--no-focus-color);
  text-shadow: 4px 4px 0px var(--text-shadow);
}

@media (min-width: 768px) {
  .page {
    width: 100%;
  }

  .header {
    position: relative;
    grid-template-rows: auto;
    min-height: 1024px;
    padding: 20px;
    padding-left: 0;
    margin-bottom: 0;
  }

  .decorated-zone::after {
    right: 20px;
    top: 20px;
  }

  .decorated-zone::before {
    left: 20px;
    bottom: 20px;
}
  
  .header__theme-menu {
    grid-row-start: 2;
    align-self: auto;
    margin-right: 0px;
    padding-top: 48px;
  }

  .rec_decoration {
    top: 0px;
    right: 24px;
  }

  .no_focus {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: center;
    padding-bottom: 46px;
    max-width: 596px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding-left: 0;
}
 
  .header_title_block {
    grid-row-start: 4;
    grid-row-end: 4;
    max-width: 364px;
    font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
    justify-self: end;
    margin-right: 0px;
    margin-bottom: 105px;
  }

  .section_questions_block {
    padding-left: 13px;
    padding-right: 10px;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-top: 60px;
  }

  .section_answers_block {
    padding-right: 5px;
    padding-left: 10px;
    gap: 20px;
  }

  .section_answers_heading {
    padding-right: 21px;
  }

  .content_section {
    display: grid;
    grid-template-columns: 1fr 496px;
    margin-bottom: 0px;
    gap: 0px;
  }

  .section_answers {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .section_tips_block {
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
    padding-top: 57px;
    padding-right: 7px;
    padding-left: 14px;
  }

  .card_tips_heading {
    margin-bottom: 21px;
  }

  .section_images {
    margin-top: 79px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .section_images_block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding-top: 20px;
    margin-left: 0;
    margin-right: 0;
    gap: 20px;
  }

  .section_heading {
    margin-top: 61px;
    padding-left: 12px;
  }

  .card_heading {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

  .section_question_heading {
    padding-right: 3px;
  }

  .image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .ice_cream_image {
    grid-row: span 2;
  }

  .street_image {
    grid-column: span 2;
  }

  .sunset_image {
    grid-column: span 2;
  }

  .tape_image {
    grid-row: span 2;
  }

  .footer {
    width: 100%;
    min-height: 1024px;
    padding: 20px;
  }

  .footer_focus {
    padding-top: 45px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }

  .footer.decorated-zone::after {

}

  .footer.decorated-zone::before {
    bottom: 20px;
    left: 20px;
}

}

@media (min-width: 1024px) {
  .page {
    max-width: 1024px;
  }

  .header {
    grid-template-rows: auto auto min-content;
  }

  .decorated-zone {
    width: 1024px;
  }

  .decorated-zone::after {
    right: 18.8px;
    top: 19.4px;
  }

  .decorated-zone::before {
    right: 95%;
    bottom: 2.5%;
    left: 1.9%;
  }
  
  .header__theme-menu {
    display: flex;
    justify-self: center;
    flex-direction: row;
    grid-row-start: 1;
    margin-top: 19px;
    align-self: normal;
    padding-top: 0px;
    margin-right: 0px;
  }

  .header__theme-menu-list {
    display: flex;
    gap: 17px;
  }

  .header__theme-menu-item {
    padding-right: 0;
  }

  .header__theme-menu-button_active {
    padding-top: 5px;
  }

  .header__theme-menu-button {
    margin: 0;
    padding: 3px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .no_focus {
    margin-top: 48px;
    max-width: 781px;
    padding-bottom: 0;
}
 
  .header_title_block {
    display: flex;
    flex-direction: column;
    max-width: 491px;
    align-self: flex-end;
    margin-top: 1px;
    margin-bottom: 135px;
  }

  .header_title_text {
    max-width: 491px;
  }

  .rec_decoration {
    right: 23px;
    top: 20px;
  }

  .section_questions_block {
    display: grid;
    padding-left: 23px;
}

  .section_questions_card {
    padding-right: 0px;
  }

  .section_answers_block {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: none;
    gap: 20px;
    padding-top: 20px;
    padding-left: 9px;
    margin-left: 0px;
  }

  .content_section {
    grid-template-columns: 323px 1fr;
    margin-top: 0px;
  }

  .section_answers {
    display: flex;
    gap: 0px;
  }

  .section_tips_block {
    padding-left: 23px;
  }

  .card_tips_heading {
    margin-bottom: 20px;
    margin-top: 2px;
  }

  .section_images {
    margin-top: 19px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .section_heading {
    margin-top: 60px;
    padding-right: 0px;
    padding-left: 9px;
  }

  .card_heading {
    padding-left: 0px;
  }

  .footer {
    max-width: 1024px;
    min-height: 768px;
    padding-top: 20px;
  }

  .footer_focus {
    padding-top: 20px;
  }
}